In [59]:
from bs4 import BeautifulSoup
import csv
import re
import pandas as pd

In [3]:
html = open("realestate.htm").read()
soup = BeautifulSoup(html)

In [5]:
addr_code_soup = soup.find_all('address', attrs={'class': 'list-card-addr'})

In [45]:
len(addr_code_soup)
# Address
address = []
for addr in addr_code_soup:
    address.append(addr.getText())

In [8]:
heading_code_soup = soup.find_all('div', attrs={'class': 'list-card-heading'})

In [44]:
price = []
attribute = []
count = 0
row = {}

In [49]:
for head in heading_code_soup:
    for body in head:
        if count % 2 == 0:
            price.append(body.getText())
        else:
            attribute.append(body.getText())
        count = count + 1

In [55]:
bed = []
bath = []
size = []
for attr in attribute:
    attrArray = [int(s) for s in re.findall(r'-?\d+\.?\d*', attr)]
    bed.append(attrArray[0]) # bed
    bath.append(attrArray[1]) # baths
    if len(attrArray) > 3:
#         print("adding size 1000")
        size.append( attrArray[2] * 1000 + attrArray[3]) #sqft
    else:
#         print("adding size sqft")
        if attrArray[2] < 11:
            size.append(attrArray[2] * 43560) # seqft
        else:
            size.append(attrArray[2]) #sqft

In [57]:
len(size)

40

In [58]:
row = {"addr":address,"price":price,"bed":bed,"bath":bath,"size":size}

In [60]:
df = pd.DataFrame(row)

In [61]:
df

,addr,price,bed,bath,size
0,"31 Elm St, Wellesley, MA 02481","$10,000",5,3,2673
1,"24 Ashuelot Acres Rd, Washington, NH 03280","$178,000",2,1,640
2,"9 Blood Rd, Mont Vernon, NH 03057","$279,900",4,3,2220
3,"205 Washington St, Laconia, NH 03246","$199,900",5,2,2710
4,"225 Pinney St, Ellington, CT 06029",$--,4,2,2606
5,"67 Mihaliak Rd, Willington, CT 06279","$59,900",3,3,1700
6,"33 Governors Dr, Raymond, NH 03077","$150,000",3,1,820
7,"55 Devon St APT 5, Boston, MA 02121","$269,900",2,2,722
8,"57 Daniels St APT 3B, Millis, MA 02054","$165,000",2,1,675
9,"7 Downing Ct, Exeter, NH 03833","$399,900",3,2,1983
10,"17 Louisburg Sq, Boston, MA 02108","$20,500,000",5,5,7610
11,"151 Durrell Mountain Rd, Belmont, NH 03220","$170,100",2,2,1351
12,"60 Helen Dr, New Britain, CT 06053","$175,000",3,2,1416
13,"70 Horizon Dr, Bedford, NH 03110","$490,000",4,3,2373
14,"1599 Cavendish Gulf Rd, Cavendish, VT 05142","$2,599,000",7,6,7945
15,"90 Mannville St, Leicester, MA 01524","$250,000",2,2,1383
16,"245 Allen St, Springfield, MA 01108","$169,000",4,2,1530
17,"1 Franklin St # GPH, Boston, MA 02110","$45,000,000",8,12,13256
18,"71 Edwards St, Laconia, NH 03246","$119,000",3,1,900
19,"894 E Ash Rd # 11, Plymouth, VT 05056","$120,000",3,2,1353
20,"54 Ware St, Palmer, MA 01069","$30,000",3,1,1470
21,"67 North St, East Dover, VT 05341","$245,000",3,2,1250
22,"168 Wood St, Warwick, RI 02889","$149,900",3,2,1155
23,"105 Putnam St, Providence, RI 02909","$153,500",4,2,1344
24,"163 Wickford Point Rd, North Kingstown, RI 02852","$675,000",4,3,3176
25,"249 Collins St, Hartford, CT 06105","$124,900",4,2,3428
26,"706 Reservoir Dr, Weare, NH 03281","$135,000",3,1,1828
27,"89 Lackey Dam Rd, Uxbridge, MA 01569","$249,900",3,2,1656
28,"301 Bulgarmarsh Rd LOT 22, Tiverton, RI 02878","$89,000",3,2,1309
29,"115 Loop Rd, Acton, ME 04001","$289,900",3,2,1877
30,"9 Ryan Rd, Millis, MA 02054","$680,000",4,4,3046
31,"904 Branch Ave, Providence, RI 02904","$149,000",5,3,2134
32,"270 Brayton Rd, Tiverton, RI 02878","$264,000",4,3,2806
33,"70 Huron St, Warwick, RI 02889","$99,900",4,2,1166
34,"120 Elm St, Blackstone, MA 01504","$364,900",5,2,4120
35,"398 Union St, New Bedford, MA 02740","$200,000",6,4,2701
36,"150 Woodland Rd, Chestnut Hill, MA 02467","$38,000,000",8,12,26623
37,"65 Ocean Rd, Portsmouth, NH 03801","$375,000",4,3,1728
38,"163 Wallace Rd, Bedford, NH 03110","$349,900",5,3,2771
39,"104 Freda Ln, Lowell, MA 01854","$279,900",3,2,1615